*M2A1*

In [ ]:
a = input("Ten")
print(f'(Xin chao {a} )')

TenQuan
(Xin chao Quan )

M2A2

In [ ]:
print("Hello World")

Hello World

M2A10

In [ ]:
a = input("Friend name: ")
b = input("Friend name: ")
c = input("Friend name: ")
print(f'Hi , {c} {b} and {a}')

Friend name: quan binh thuong
Friend name: kien
Friend name: thao
Hi , thao kien and quan binh thuong

M2A16

In [ ]:
print("Spring\nSummer\nAutumn\nWinter")

Spring
Summer
Autumn
Winter

M2A17

In [ ]:
print("*\n**\n***")

*
**
***

M2A18

In [ ]:
print(f'### ##  ### ### ')
print(f' #  # #  #   # ')
print(f' #  #  # #   # ')
print(f' #  # #  #   # ')
print(f' #  ##   #   # ')

### ##  ### ###
 #  # #  #   #
 #  #  # #   #
 #  # #  #   #
 #  ##   #   #

M2A19

In [ ]:
print("Monday\nTuesday\nWenesday\nThursday\nFriday\nSaturday\nSunday")

Monday
Tuesday
Wenesday
Thursday
Friday
Saturday
Sunday

M2A20

In [ ]:
print("January\nFebruary\nMarch\nApril\nMay\nJune\nJuly\nAugust\nSeptember\nOctober\nNovember\nDecember")

January
February
March
April
May
June
July
August
September
October
November
December

M2A21

In [ ]:
for i in range (10):
  print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

M2A3

In [ ]:
a = int(input(' a ='))
b = int(input(' b ='))
tong = a + b
hieu = a - b
tich = a * b
phannguyen = a // b
phandu = a % b
thuong = a / b
print(f'Tong = {tong}')
print(f'Hieu = {hieu}')
print(f'Tich = {tich}')
print(f'Phan Nguyen = {phannguyen}')
print(f'Phan Du = {phandu}')
print(f'Thuong = {thuong:.2f}')

 a =5678
 b =36
Tong = 5714
Hieu = 5642
Tich = 204408
Phan Nguyen = 157
Phan Du = 26
Thuong = 157.72

M2A4

In [ ]:
a1, b1, c1, a2, b2, a3 = list(map(int,input('Nhập điểm : ').split()))
TBC = (a1 + b1 + c1 + a2 + b2 + a3) / 6
print(f'Điểm trung bình là : {TBC:.1f}')

Nhập điểm : 8 10 9 8 6 8
Điểm trung bình là : 8.2

M2A5

In [ ]:
a, b = list(map(int,input('Nhap a, b').split()))
t= a**b
print(f'Luu thua = {t}')

Nhap a, b4 6
Luu thua = 4096

M2A6

In [ ]:
print(chr(a))
print(chr(A))




M2A7

In [ ]:
A = ((13** 2) * 3) + 5
B = 13**2*3 + 5
print (A)
print (B)

512
512

M2A8

In [ ]:
c = float(input(' Nhập nhiệt độ C : '))
f = 9/5*c + 32
print(f'Nhiệt độ F = {f}')

 Nhập nhiệt độ C : 36
Nhiệt độ F = 96.8

M2A9

In [ ]:
x = float(input( 'Tiengoccuadongho :'))
tong = (x+10)*(1 + 30/100 + 10/100)
print(f'Bi hut mau = {tong:.2f}')

Tiengoccuadongho :36
Bi hut mau = 64.40

M2A11

In [ ]:
h = int(input('Nhap gio :'))
m = int(input('Nhap phut :'))
s = h*3600 + m*60
print(f'{h} gio {m} phut = {s}')

Nhap gio :3
Nhap phut :6
3 gio 6 phut = 11160

M2A12

In [ ]:
n = int(input(' Do dai canh : '))
S = n*n*6
print(f'Số miếng dán = {S}')

 Do dai canh : 4
Số miếng dán = 96

M2A13

In [ ]:
a = int(input(' Nhap a : '))
b = int(input(' Nhap b : '))
A = a * b
y = A % 10
print(f' So hang don vi = {y}')

 Nhap a : 36
 Nhap b : 63
 So hang don vi = 8

In [ ]:
M2A14

In [ ]:
a = int(input(' Nhap a : '))
b = int(input(' Nhap b : '))
print(f'a = {b} , b = {a} 4')

 Nhap a : 5
 Nhap b : 4
a = 4 , b = 5

In [ ]:
M2A15

In [ ]:
n = int(input(' Nhap n : '))
S = 6 * n * (n-1) + 1
print(f'Số sao thứ {n} = {S}')

 Nhap n : 8
Số sao thứ 8 = 337